<br>

<div class="container">

    <div class="mat-elevation-z8">


        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay;let $index=index">


                <form [formGroup]="formGrp" #frmEle="ngForm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="submitHead(frmEle,column)">
                        {{column}}
                        <input type="checkbox" [checked]="column.isSelected" title="Check" (change)="checkCol(column,$event);">
                    </th>

                    <td mat-cell *matCellDef="let element" (click)="submitCell(frmEle,element)">
                        {{element[column].value}}
                        <input type="checkbox" [checked]="element.isSelected == true" title="Check" (change)="checkCol(element[column],$event);">
                    </td>
                </form>

            </ng-container>





            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-diagram">
                            <div class="example-element-position"> {{element.position.value}} </div>
                            <div class="example-element-symbol"> {{element.symbol.value}} </div>
                            <div class="example-element-name"> {{element.name.value}} </div>
                        </div>
                        <div class="example-element-description">
                            {{element.description}}
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;let $index=index" class="example-element-row " [class.example-expanded-row]="expandedElement===element
                " (click)="testClick(element) " (click)="expandedElement=expandedElement===element ? null : element ">

                <!-- <div [formGroupName]="$index ">
                </div> -->
            </tr>
            <tr mat-row *matRowDef="let row; columns: [ 'expandedDetail'] " class="example-detail-row "></tr>


        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20] " showFirstLastButtons></mat-paginator>

    </div>
</div>